{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true,
      "targets": { "node": 4.3 },
      "exclude": [
        "transform-async-to-generator",
        "transform-regenerator"
      ]
    }]
  ],
  "env": {
    "test": {
      // Transformation of es2015 modules are needed for Jest.
      "presets": ["env"]
    }
  }
}
